@charset "UTF-8";
/* CSS Document */

textarea {
	resize: none;
}

#deckName
{
	color: black;
	font-size: 36px;
	font-family: 'Abel', sans-serif;
	background : white;
	text-align: center;
	border-style : Solid;
	border-color : #0088C1;
	border-color : rgba(0, 136, 193, 1);
	border-width : 2px;
	border-radius : 12px;


}

#deckName:focus
{
	outline:none;
}
#deckName:hover
{
border-color : #52C6FF;
	border-color : rgba(82,198,255,1.00);
}
.add:focus
{
	outline:none;
}

.card
{
	border-style : Solid;
	border-color : #0088C1;
	border-color : rgba(0, 136, 193, 1);
	width: 400px;
	height: 80px;
	/*width: 256px;
	height: 52px;*/
	font-size: 16px;
	margin-bottom: 10px;
	padding-left: 10px;
	margin-left: 10px;
	border-radius : 12px;

}
.card:focus
{
	outline:none;	
}
.card:hover
{
	border-color : #52C6FF;
	border-color : rgba(82,198,255,1.00);
}

ul {
	list-style: none;
}

.button
{
	width: 33px;
	height: 33px;
	background: #0099CC;
	color: white;
	/*border-style : Solid;
	border-color : #0088C1;
	border-color : rgba(0, 136, 193, 1);
	border-width : 2px;*/
	font-family: DIN Alternate;
	border-color: transparent;
	border-radius : 6px;
	margin-bottom: 15px;
}
.button:hover
{
	background : #52C6FF;
	background : rgba(82,198,255,1.00);

}
.button:focus
{
	outline:none;	
}

.add
{
	margin-left: auto;
	margin-right: auto;
	/*left: 545px;*/
	color: white;
	font-size: 16px;
	font-family: 'Abel', sans-serif;
	background : #0099CC;
	background : rgba(0, 153, 204, 1);
	text-align: center;
	/*border-style : Solid;
	border-color : #0088C1;
	border-color : rgba(82,199,249,1.00);
	border-width : 2px;*/
	border-color: transparent;
	border-radius : 6px;
}
.add:hover
{
	background : #52C6FF;
	background : rgba(82,198,255,1.00);
}
.save
{
	margin-left: auto;
	margin-right: auto;
	/*left: 650px*/
	color: white;
	font-size: 16px;
	font-family: 'Abel', sans-serif;
	background : #0099CC;
	background : rgba(0, 153, 204, 1);
	text-align: center;
	/*border-style : Solid;
	border-color : #0088C1;
	border-color : rgba(82,199,249,1.00);
	border-width : 2px;*/
	border-color: transparent;
	border-radius : 6px;
}
.save:hover
{
	background : #52C6FF;
	background : rgba(82,198,255,1.00);
}
.save:focus
{
	outline:none;
}
