@charset "UTF-8";
/* CSS Document */
#deckName {
	color: black;
	font-size: 36px;
	font-family: 'Abel', sans-serif;
	background : white;
	text-align: center;
	border-style : Solid;
	border-color : #0088C1;
	border-color : rgba(0, 136, 193, 1);
	border-width : 2px;
	border-radius : 12px;
}
/*TODO: make deckname box's width get smaller if someone resizes the screen */;
#deckName:focus {
	outline:none;
}
#deckName:focus::-webkit-input-placeholder {			/*for Chrome*/
	color: transparent;
}
#deckName:focus::-moz-placeholder {					/*for Firefox*/
	color: transparent;
}
#deckName:hover {
	border-color : #52C6FF;
	border-color : rgba(82,198,255,1.00);
}
.add:focus {
	outline:none;
}

.card {
	border-style : Solid;
	border-color : #0088C1;
	border-color : rgba(0, 136, 193, 1);
	width: 256px;
	height: 52px;
	font-size: 16px;
	margin-bottom: 10px;
	padding-left: 10px;
	margin-left: 10px;
	border-radius : 12px;

}
.card:focus {
	outline:none;
}
.card:focus::-webkit-input-placeholder {				/*for Chrome*/
	color: transparent;
}
.card:focus::-moz-placeholder {						/*for Firefox*/
	color: transparent;
}
.card:hover {
	border-color : #52C6FF;
	border-color : rgba(82,198,255,1.00);
}

ul {
	list-style: none;
}

button {
	color: white;
	font-size: 16px;
	font-family: 'Abel', sans-serif;
	background : #0099CC;
	background : rgba(0, 153, 204, 1);
	text-align: center;
	border-style : Solid;
	border-color : #0088C1;
	border-color : rgba(82,199,249,1.00);
	border-width : 2px;
	border-radius : 12px;
}

button:hover {
	background : #52C6FF;
	background : rgba(82,198,255,1.00);

}
button:focus {
	outline:none;	
}

/*.add {
	margin-left: 50px;
	color: white;
	font-size: 16px;
	font-family: 'Abel', sans-serif;
	background : #0099CC;
	background : rgba(0, 153, 204, 1);
	text-align: center;
	border-style : Solid;
	border-color : #0088C1;
	border-color : rgba(82,199,249,1.00);
	border-width : 2px;
	border-radius : 12px;
}

.save {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	/*left: 650px*/
	/*color: white;
	font-size: 16px;
	font-family: 'Abel', sans-serif;
	background : #0099CC;
	background : rgba(0, 153, 204, 1);
	text-align: center;
	border-style : Solid;
	border-color : #0088C1;
	border-color : rgba(82,199,249,1.00);
	border-width : 2px;
	border-radius : 12px;
}*/

#saveInfo {
	position: absolute;
	margin-left: auto;
	margin-right: auto;

}