@charset "utf-8";
.onCard {
	font-size: 25px; 
	color: black;
	margin-bottom: 0px;
	margin-right: 0px;
	display: inline;
}

.Card {
	background-color: #0099CC;
	background-color: rgba(0, 153, 204, 1);
	border-style: Solid;
	border-color: #0088C1;
	border-color: rgba(0, 136, 193, 1);
	border-width: 5.25px;

	height:auto;
	min-height:100.5px;
	height:auto !important;        /* for IE as it does not support min-height */
	height:185.5px;                   /* for IE as it does not support min-height */

	/*width: 448px;*/
	/*width:auto;*/
	width:auto;
	min-width: 100px;
	max-width: 700px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}
.Card:hover {
	background: #00BDD6;
	cursor: pointer;
}
.Card:active {
	background: #0099AE;
}

.NormalCharacterStyle9 {
	font-family: DIN Alternate;
	font-weight: bold;
	font-size: 31.5px;
	color: #FFFFFF;
	color: rgb(255, 255, 255);
}

h1 {
	font-family: DIN Alternate;
	font-weight: bold;
	font-size: 50px;
	color: #231F20;
	color: rgb(35, 31, 32);
}

h2 {
	font-family: DIN Alternate;
	font-weight: bold;
	font-size: 31.5px;
	color: #FFFFFF;
	color: rgb(255, 255, 255);
	margin-left: 20px;
}

p {
	font-size: 21px;
	color: #FFFFFF;
	color: rgb(255, 255, 255);
	margin-left: 20px;
	margin-right: 20px;
}

.Circlecircledotdot {
	background: #0099CC;
	background: rgba(0, 153, 204, 1);
	border-style: Solid;
	border-color: #0088C1;
	border-color: rgba(0, 136, 193, 1);
	border-width: 3px;
	width: 57.75px;
	height: 57.75px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.Circlecircledotdot:hover {
	background: #00BDD6;
	background: rgba(0, 189, 214, 1);
	cursor: pointer;
}
.Circlecircledotdot:active {
	background: #0099AE;
	background: rgba(0, 153, 174, 1);
}

h3 {
	font-family: DIN Alternate;
	font-weight: bold;
	font-size: 42px;
	color: #FFFFFF;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: auto;
	margin-top: 0px
}

.ConfidenceLevel {
	font-family: DIN Alternate;
	font-size: 12px;
	color: #231F20;
	color: rgb(35, 31, 32);
}

#top {
	margin-bottom: 20px;		
}

#bottom {
	margin-bottom: 10px;
}

#confButton {
	margin-top: 5px;
}
#confButton:hover {
	background: #00BDD6;
	background: rgba(0, 189, 214, 1);
	cursor: pointer;
}
#confButton:active {
	background: #0099AE;
	background: rgba(0, 153, 174, 1);
}

#confidenceButtons {
	pointer-events: none;		/* make it so user can't use the confButtons until the card is flipped */
}