/* General */
.container {
	width: 960px;
}


/* Header */
.header {
	background-color: #E8E8E8;
	background-color: rgba(232,232,232);
	padding: 15px;
	
	border-bottom: 1px solid;
	border-color: #B8B8B8;
	border-color: rgba(184,184,184);
	border-radius: 8px;
	
	font-family: Arial Bold;
	font-weight: 300;
	font-size: 17px;
}

.header .menu {
	float: right;
	list-style: none;
	margin-top: 5px;
}

.menu > li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

.menu .menuButton {
	border: 2px solid;
	border-color: #B8B8B8;
	border-color: rgba(184,184,184);
	border-radius: 7px;
	padding-left: 10px;
	padding-right: 10px;
}
.menu .menuButton:hover {
	border-color: #52C6FF;		/*#606060*/
}

.menu .signup-login {
	font-size: 12px;
	padding: 0;
}

.menu a {
	color: #898989;
}
.menu a:hover {
	color: #52C6FF;
	border-color: #52C6FF;
	text-decoration: none;
}

.menu input {
	border: 2px solid transparent;
	border-radius: 7px;
}


/* Dropdown */
.dropdown-menu {
	font-size: 16px;
	margin-top: 5px;
	min-width: 105px;
}

.dropdown-menu li input {
	border: 2px solid black;
	border-radius: 10px;
}

.dropdown-menu li a {
	color: #898989;
	padding: 6px 20px;
	font-weight: 300;
}


/* Carousel */
.slider {
	position: relative;
	width: 100%;
	height: 470px;
	border-bottom: 1px solid #ddd;
}

.carousel {
	margin-left: auto;
	margin-right: auto;
	width: 900px;

	border: 2px solid black;
	border-radius: 10px;
}

.slide {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.active-slide {
	display: block;
}

.slide-copy h1 {
	color: #363636;  
  
	font-weight: 400;
  
	font-size: 50px;
	margin-top: 105px;
	margin-bottom: 0px;
	margin-left: -120px;
}

.slide-copy p {
	color: #959595;
	font-family: Georgia;
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 15px;
	margin-top: 16px;
	margin-left: -120px;
}

.slider-nav {
	text-align: center;
	margin-top: 20px;
	
	cursor: pointer;
}

.arrow-prev {
	margin-right: 45px;
	display: inline-block;
	vertical-align: top;
	margin-top: 9px;
	
	cursor: pointer;
}

.arrow-next {
	margin-left: 45px;
	display: inline-block;
	vertical-align: top;
	margin-top: 9px;
}

.slider-dots {
	list-style: none;
	display: inline-block;
	padding-left: 0;
	margin-bottom: 0;
}

.slider-dots li {
	color: #bbbcbc;
	display: inline;
	font-size: 30px;
	margin-right: 5px;
}

.slider-dots li.active-dot {
	color: #363636;
}



/* Carousel stuff */
.carousel-image {
	margin-top: 150px;
	margin-left: 80px;
	
	height: 170px;
	width: 150px;
}

.carousel-title {
	
}