@charset "UTF-8";
/* CSS Document */

#deckName {
	color: white;
	font-size: 36px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background : #52C6FF;
	background : rgba(82,198,255,1.00);
	text-align: center;
	border-style : Solid;
	border-color : #0088C1;
	border-color : rgbargba(82,199,249,1.00);
	border-width : 2px;
	border-radius : 12px;


}

#deckName:focus {
	outline:none;
}

.card {
	color: black;
	background: white;
	/*background : #0099CC;
	background : rgba(0, 153, 204, 1);*/
	border-style : Solid;
	border-color : #0088C1;
	border-color : rgba(0, 136, 193, 1);
	border-width : 2px;
	border-radius : 12px;
	width: 256px;
	height: 106px;
	font-size: 16px;
	text-align: center;
	-moz-border-radius : 12px;
	-webkit-border-radius : 12px;
	margin-bottom: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.card:focus {
	outline:none;	
}
.card:hover {
	background : #52C6FF;
	background : rgba(82,198,255,1.00);
}

ul {
	list-style: none;
}

.button {
	width: 33px;
	height: 33px;
	background: #0099CC;
	color: white;
	border-style : Solid;
	border-color : #0088C1;
	border-color : rgba(0, 136, 193, 1);
	border-width : 2px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.button:hover {
		background : #52C6FF;
	background : rgba(82,198,255,1.00);

}
.button:focus {
	outline:none;	
}


.invisible {
	visibility: hidden;
}