/* General */
.container {
	width: 960px;
}
/* Header */
.header {
	background-color: #E8E8E8;
	background-color: rgba(232,232,232);
	padding: 15px;
	
	border-bottom: 1px solid;
	border-color: #B8B8B8;
	border-color: rgba(184,184,184);
	border-radius: 8px;
	
	font-family: Arial Bold;
	font-weight: 300;
	font-size: 17px;
}

.header .menu {
	float: right;
	list-style: none;
	margin-top: 5px;
}

.menu > li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Helvetica Neue;
}

.menu .menuButton {
	border: 2px solid;
	border-color: #black;
	border-color: rgba(255,255,255);
	border-radius: 7px;
	padding-left: 10px;
	padding-right: 10px;
	color: black;
}
.menu .menuButton:hover {
	border-color: #52C6FF;		/*#606060*/
}

.menu .signup-login {
	font-size: 12px;
	padding: 0;
	color: black;
}

.menu a {
	color: #898989;
}
.menu a:hover {
	color: #52C6FF;
	border-color: #52C6FF;
	text-decoration: none;
}

.menu input {
	border: 2px solid transparent;
	border-radius: 7px;
}




/* Dropdown */
.dropdown-menu {
	font-size: 16px;
	margin-top: 10px;
	min-width: 300px;
	color: black;
	border-color: rgba(255,255,255);
}

.dropdown-menu li {
	margin-left: 5px;
	color: black;
	border-color: rgba(255,255,255);
}

.dropdown-menu li input {
	border: 2px solid black;
	margin-right: 5px;
	margin-left: 5px;
	color: black;
	border-color: rgba(255,255,255);
}

.dropdown-menu li a {
	color: #898989;
	padding: 6px 20px;
	font-weight: 300;
	color: black;
	border-color: rgba(255,255,255);
}



/* Carousel */
.slider {
	position: relative;
	width: 800px;
	height: 470px;
	
	/*border-bottom: 1px solid black;*/
	border: 2px solid black;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

.slide {
	background: transparent url("images/background.png"), center center no-repeat;
	background-size: cover;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.active-slide {
	display: block;
}

.arrow-prev {
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
	margin-top: 9px;
}

.arrow-next {
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
	margin-top: 9px;
}