table { 
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 640px; 
border-collapse: 
collapse; border-spacing: 0; 
}

html *
{
   font-family: Helvetica, Arial, sans-serif !important;
}


td, th { 
border: 1px solid transparent; /* No more visible border */
height: 30px; 
transition: all;  /* Simple transition for hover effect */
}

th {
background: #d9d9d9;  /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

h3
{
	font-family: Helvetica, Arial, sans-serif;
}

p
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#create
{
	position: relative;
}

#userSubjects
{
	float: right;
	padding-bottom: 50px;
}

#button
{
	width: 90px;
	height: 33px;
	font-weight: bold;
	border-style : Solid;
	background-color: white;
	background-color: rgba(0,0,0,0);
  border-color : #0088C1;
  border-color : rgba(0, 136, 193, 1);
  border-width : 2px;
		font-family: DIN Alternate;
			border-radius : 12px;
				margin-bottom: 15px;
}

#button:hover
{
		border-color:   #52C6FF;
	border-color:  rgba(82,198,255,1.00);

}
#button:focus
{
	outline:none;	
}

.card
{
	border-style : Solid;
	border-color : #0088C1;
	border-color : rgba(0, 136, 193, 1);
	width: 256px;
	height: 52px;
	font-size: 16px;
	margin-bottom: 10px;
	padding-left: 10px;
	margin-left: 10px;
		border-radius : 12px;

}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #FEFEFE; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #d4d4d4; }  

tr td:hover { background: #52C6FF; color: #FFF; } /* Hover cell effect! */